apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-microservice
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: demo-microservice
  template:
    metadata:
      labels:
        app: demo-microservice
    spec:
      containers:
      - name: demo-microservice
        image: nginx:lasadtest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: 5Mi
          limits:
            memory: 5Mi
