apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-microservice
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 2 
  selector:
    matchLabels:
      app: demo-microservice
  template:
    metadata:
      labels:
        app: demo-microservice
    spec:
      containers:
      - image: nginx:latest
        name: demo-microservice
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: 20Mi
          requests:
            memory: 10Mi
