apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-microservice
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-microservice
  template:
    metadata:
      labels:
        app: demo-microservice
    spec:
      containers:
      - image: busybox:latest
        name: demo-microservice
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: 2Mi
          requests:
            memory: 2Mi
