apiVersion: apps/v1
kind: Deploymentand app.status.operationState.phase == 'Failed'
metadata:
  name: demo-microservice
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: demo-microservice
  template:
    metadata:
      labels:
        app: demo-microservice
    spec:
      containers:
      - name: demo-microservice
        image: nginx:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "6Mi"
          limits:
            memory: "6Mi"
